<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block menu %}
    {% include ':base:menu.html.twig' %}
{% endblock %}

{% block body %}{% endblock %}
<script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
{#<script src="{{ asset('bundles/app/js/jquery-3.1.1.slim.min.js') }}"></script>#}
<script src="{{ asset('bundles/app/js/tether.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
