<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Мониторинг АРМ</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">Link</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
            {#<a class="nav-link disabled" href="#">Disabled</a>#}
            {#</li>#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Функции</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ path('termometr') }}">Работа с термометрическими
                        показателями</a>
                    <a class="dropdown-item" href="{{ path('tube') }}">Работа с данными внутритрубной
                        диагностики</a>
                </div>
            </li>
            <li class="nav-item active btn-success">
                <a class="nav-link" href="{{ path('upload') }}">Загрузить данные<span class="sr-only">(current)
                    </span></a>
            </li>
        </ul>
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control mr-sm-2" type="text" placeholder="текст">#}
            {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>#}
        {#</form>#}
    </div>
</nav>