{% extends ':base:base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>Мониторинг термометрических показателей ЛЧ МН и данных внутритрубной диагностики</h1>
            <p class="lead">МН ВСТО за август 2011/2012/2013 гг.</p>
        </div>

        <canvas id="myChart"></canvas>

    </div><!-- /.container -->
{% endblock %}


{% block stylesheets %}
<style>
    .container {
        padding-top: 90px;
        /*color: rgb(55, 91, 180);*/
    }
</style>
{% endblock %}
