{% extends ':base:base.html.twig' %}

{#{% block stylesheets %}#}
    {#<script src="../assets/bootstrap-table/src/bootstrap-table.js"></script>#}
    {#<script src="../assets/bootstrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>#}
{#{% endblock %}#}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>Загрузка файлов </h1>
            <p class="lead">Выберите excel-файл с данными для загрузки в Базу Данных</p>
        </div>

        <form method="POST" enctype="multipart/form-data">
            <input id="upload-file" name="xls-file" type="file" class="file" data-show-preview="false">
        </form>

        <div class="starter-template" >
            <h1>График температурных изменений ТС</h1>
            <p class="lead">Выберите данные для графика</p>

            <form method="POST" action="{{ path('termo_graph') }}">

                {#<table class="table table-striped" id="table"#}
                       {#data-toggle="table"#}
                       {#data-search="true"#}
                       {#data-filter-control="true"#}
                       {#data-show-export="true"#}
                       {#data-click-to-select="true"#}
                       {#data-toolbar="#toolbar">#}
                    {#<thead>#}
                    {#<tr>#}
                        {#<th data-field="id" data-checkbox="true">#</th>#}
                        {#<th data-field="id" data-checkbox="true">#</th>#}
                        {#<th data-field="number" data-filter-control="input" data-sortable="true">Номер термокосы</th>#}
                        {#<th data-field="date" data-filter-control="select" data-sortable="true">Дата</th>#}
                    {#</tr>#}
                    {#</thead>#}

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Номер термокосы</th>
                        <th scope="col">Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for number in numbers %}
                            <tr>
                                {#<td class="bs-checkbox "><input data-index="1" name="btSelectItem" type="checkbox"></td>#}
                                <th scope="row"><input type="checkbox"
                                   value="{{ number['id'] }}" name="termosets[]"></th>
                                <td>{{ number['number'] }}</td>
                                <td>{{ number['termo_date'] }}</td>
                            </tr>
                            {% dump(number) %}
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-success" type="submit">Дальше</button>
            </form>
        </div>

    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script>
        var table = $('#table');
        $(function () {
            $('#toolbar').find('select').change(function () {
                table.bootstrapTable('refreshOptions', {
                    exportDataType: $(this).val()
                });
            });
        })

        var trBoldBlue = $("table");

        $(trBoldBlue).on("click", "tr", function (){
            $(this).toggleClass("bold-blue");
        });
    </script>
    <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap-fileinput/css/fileinput.min.css') }}">
    <script src="{{ asset('bundles/app/bootstrap-fileinput/js/fileinput.js') }}"></script>
    <script src="{{ asset('bundles/app/bootstrap-fileinput/js/locales/ru.js') }}"></script>
    <script>
        $('#upload-file').fileinput({
            language: 'ru',
            uploadUrl: "{{ path('file_upload') }}",
            uploadAsync: false,
            maxFileSize: 102400,
//            previewFileIcon: '<span class="fa fa-file"></span>',
            overwriteInitial: false,
            allowedPreviewTypes: null,
            previewFileIconSettings: {
                'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                'gz': '<i class="fa fa-file-archive-o text-muted"></i>',
                'rar': '<i class="fa fa-file-archive-o text-muted"></i>'
            },
        }).on("filepredelete", function (jqXHR) {
            var abort = true;
            if (confirm("Вы уверены, что хотите удалить?")) {
                abort = false;
            }
            return abort;
        }).on("filebatchuploaderror ", function () {
        }).on("filebatchuploadcomplete", function (event, data) {
            console.log(event);
            console.log(data);
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    .container {
        padding-top: 90px;
        /*color: rgb(55, 91, 180);*/
    }
</style>
{% endblock %}
