{% extends ':base:base.html.twig' %}

{% block body %}
    <div class="container">

        <div>
            <h1>График температурных изменений ТС - 1 на 17367км</h1>
            {#<p class="lead">МН ВСТО за август 2011/2012/2013 гг.</p>#}
        </div>

        {#{{ dump(sets) }}#}

        <div id="myChart" style="height:800px;"></div>

    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/echarts.common.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            var myChart = echarts.init(document.getElementById('myChart'));

            var colors = ['#FFCC00', '#FF3333', '#009933', '#5793f3', '#CC33CC'];
            var series_data = new Array();
            var legend_data = new Array();

            //заполняем данными
            {% for set in sets %}
                series_data.push({
                    name: '{{ set.number }} ({{ set.termoDate }})',
                    type:'line',
                    stack: 'Stack',
                    data: {{ set.termoBlob }}
                });
                legend_data.push('{{ set.number }} ({{ set.termoDate }})');
            {% endfor %}

            var option = {
                color: colors,
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: legend_data
                },
                grid: {
                    left: '10%',
                    right: '10%',
                    bottom: '10%',
                    top: '10%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    name: '(T°)',
//                nameLocation: 'end',
                    type: 'category',
                    boundaryGap: false,
                    data: ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14'],
                    position: 'top'
                },
                yAxis: {
                    type: 'value',
                    name : '(М)',
                    nameLocation: 'start'
//                    nameLocation: 'end'
                },
                series: series_data
            };
            myChart.setOption(option);
        });

    </script>
{% endblock %}

{% block stylesheets %}
<style>
    .container {
        padding-top: 90px;
        /*color: rgb(55, 91, 180);*/
    }
</style>
{% endblock %}
