{% extends ':base:base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>График температурных изменений ТС - 1 на 17367км</h1>
            <p class="lead">МН ВСТО за август 2011/2012/2013 гг.</p>
        </div>

        <canvas id="myChart"></canvas>

    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/Chart.bundle.min.js') }}"></script>
    {#<script>#}
        {#var ctx = document.getElementById('myChart').getContext('2d');#}
        {#var chart = new Chart(ctx, {#}
            {#type: 'line',#}
            {#data: {#}
                {#labels: [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11,#}
                    {#12, 12.5, 13, 13.5, 14],#}
                {#datasets: [{#}
                    {#label: "Температурные изменения август 2011",#}
                    {#fill: false,#}
                    {#borderColor: 'rgb(255, 125, 51)',#}
                    {#data: [, -14, -8, -7, -6, -5, -4, -3.8, -3.6, -3.4, -3.2, -3, -2.8, -2.6, -2.4, -2.2, -2.0, -1.8,#}
                        {#-1.6, -1.4, -1.2, -1, -0.9, -0.8, -0.6, -0.4, -0.2, 0],#}
                {#},#}
                {#{#}
                    {#label: "Температурные изменения август 2012",#}
                    {#fill: false,#}
                    {#borderColor: 'rgb(21, 180, 46)',#}
                    {#data: [, ,-14, -8, -7, -6, -5, -4, -3.8, -3.6, -3.4, -3.2, -3, -2.8, -2.6, -2.4, -2.2, -2.0, -1.8,#}
                        {#-1.6, -1.4, -1.2, -1, -0.9, -0.8, -0.6, -0.4, -0.2],#}
                {#},#}
                {#{#}
                    {#label: "Температурные изменения август 2013",#}
                    {#fill: false,#}
                    {#borderColor: 'rgb(55, 91, 180)',#}
                    {#data: [, , ,-14, -8, -7, -6, -5, -4, -3.8, -3.6, -3.4, -3.2, -3, -2.8, -2.6, -2.4, -2.2, -2.0, -1.8,#}
                        {#-1.6, -1.4, -1.2, -1, -0.9, -0.8, -0.6, -0.4],#}
                {#}]#}
            {#},#}
            {#options: {#}
                {#legend: {#}
                    {#display: true,#}
                    {#position: 'bottom',#}
                    {#labels: {#}
                        {#boxWidth: 80,#}
                    {#}#}
                {#},#}
                {#scales: {#}
                    {#yAxes: [{#}
                        {#ticks: {#}
                            {#max: 0,#}
                            {#min: -15,#}
                            {#stepSize: 1#}
                        {#}#}
                    {#}]#}
                {#}#}
            {#}#}
        {#});#}
    {#</script>#}
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart =  new Chart(ctx, {
            type: 'line',
            data: {
                labels: [-10, -9, -8, -7, -6, -5, -4, -3 ,-2, -1, 0],
                datasets: [{
                    data: [86,114,106,106,107,111,133,221,783,2478],
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: [282,350,411,502,635,809,947,1402,3700,5267],
                    label: "Asia",
                    borderColor: "#8e5ea2",
                    fill: false
                }, {
                    data: [168,170,178,190,203,276,408,547,675,734],
                    label: "Europe",
                    borderColor: "#3cba9f",
                    fill: false
                }, {
                    data: [40,20,10,16,24,38,74,167,508,784],
                    label: "Latin America",
                    borderColor: "#e8c3b9",
                    fill: false
                }, {
                    data: [6,3,2,2,7,26,82,172,312,433],
                    label: "North America",
                    borderColor: "#c45850",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'World population per region (in millions)'
                }
            }
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    .container {
        padding-top: 90px;
        /*color: rgb(55, 91, 180);*/
    }
</style>
{% endblock %}
