{% extends ':base:base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>ЗАгрузка файлов </h1>
            <p class="lead">Выберите excel-файл с данными для загрузки в Базу Данных</p>
        </div>

        <form method="POST" enctype="multipart/form-data">
            <input id="upload-file" name="xls-file" type="file" class="file" data-show-preview="false">
        </form>

    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap-fileinput/css/fileinput.min.css') }}">
    <script src="{{ asset('bundles/app/bootstrap-fileinput/js/fileinput.js') }}"></script>
    <script src="{{ asset('bundles/app/bootstrap-fileinput/js/locales/ru.js') }}"></script>
    <script>
        $('#upload-file').fileinput({
            language: 'ru',
            uploadUrl: "{{ path('file_upload') }}",
            uploadAsync: false,
            maxFileSize: 102400,
//            previewFileIcon: '<span class="fa fa-file"></span>',
            overwriteInitial: false,
            allowedPreviewTypes: null,
            previewFileIconSettings: {
                'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                'gz': '<i class="fa fa-file-archive-o text-muted"></i>',
                'rar': '<i class="fa fa-file-archive-o text-muted"></i>'
            },
        }).on("filepredelete", function (jqXHR) {
            var abort = true;
            if (confirm("Вы уверены, что хотите удалить?")) {
                abort = false;
            }
            return abort;
        }).on("filebatchuploaderror ", function () {
        }).on("filebatchuploadcomplete", function (event, data) {
            console.log(event);
            console.log(data);
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    .container {
        padding-top: 90px;
        /*color: rgb(55, 91, 180);*/
    }
</style>
{% endblock %}
